<div class="row top-buffer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Account Details</h3>
            </div>
            <div class="panel-body">
                <uib-alert ng-repeat="alert in ctrl.alerts" type="{{alert.type || 'danger'}}"
                           close="ctrl.alerts.splice($index, 1)" dismiss-on-timeout="5000">{{alert.message}}
                </uib-alert>
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Change your details</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" novalidate ng-submit="ctrl.updateSettings()" class="form-horizontal"
                                      name="ctrl.formElement">
                                    <fieldset>
                                        <div class="form-group" add-has-error>
                                            <label class="control-label col-sm-4" for="name">Name</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="text" id="name" required
                                                       ng-model="ctrl.form.name">
                                            </div>
                                        </div>
                                        <div class="form-group" add-has-error>
                                            <label class="control-label col-sm-4" for="calories_goal">Calories
                                                Goal</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="number" id="calories_goal" required
                                                       ng-model="ctrl.form.calories_goal" min="0">
                                            </div>
                                        </div>
                                        <div class="form-group" add-has-error>
                                            <label class="control-label col-sm-4" for="email">Email</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="email" id="email" required
                                                       ng-model="ctrl.form.email">
                                                <label class="text-left-important small"
                                                       ng-show="ctrl.form.email != ctrl.user.email">If you change your
                                                    password,
                                                    an email will be sent to your new address to validate it</label>
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             ng-if="ctrl.changePassword || ctrl.user.email != ctrl.form.email"
                                             add-has-error>
                                            <label class="control-label col-sm-4" for="current_password">Current
                                                Password</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="password" id="current_password"
                                                       required
                                                       ng-model="ctrl.form.current_password" minlength="8">
                                                <label class="disappearing-label control-label text-left-important small">Enter
                                                    your current password to save your changes</label>
                                            </div>
                                        </div>
                                        <div class="form-group" add-has-error>
                                            <div class="small col-sm-8 col-sm-offset-4">
                                                <label><input type="checkbox" ng-model="ctrl.changePassword">
                                                    Change password
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.changePassword" add-has-error>
                                            <label class="control-label col-sm-4" for="password">New Password</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="password" id="password" required
                                                       minlength="8" ng-model="ctrl.form.password">
                                                <label class="disappearing-label control-label text-left-important small">Your
                                                    password should be at least 8 chars long</label>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.changePassword" add-has-error>
                                            <label class="control-label col-sm-4" for="password2">Repeat
                                                Password</label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="password" id="password2"
                                                       ng-model="ctrl.form.password2" equals="{{ctrl.form.password}}">
                                                <label class="disappearing-label control-label text-left-important small">Your
                                                    passwords don't match</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-4">
                                                <input type="submit" class="btn btn-lg btn-success btn-block"
                                                       ng-disabled="ctrl.formElement.$invalid"
                                                       value="Update Account"/>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Calories goal</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12 text-center"
                                         ng-class="ctrl.calories <= ctrl.user.calories_goal ? 'calories-ok' : 'calories-warning'">
                                        Your current goal is <strong>{{ctrl.user.calories_goal}}</strong> calories per
                                        day
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div style="display:inline-block;">
                                            <uib-datepicker ng-model="ctrl.caloriesDay" class="well well-sm"
                                                            datepicker-options="ctrl.datepickerOptions"></uib-datepicker>
                                        </div>
                                        <div ng-show="ctrl.calories <= ctrl.user.calories_goal" class="calories-ok">
                                            Congrats! on {{ctrl.caloriesDayStr}} you consumed only {{ctrl.calories}}
                                            calories!
                                        </div>
                                        <div ng-show="ctrl.calories > ctrl.user.calories_goal" class="calories-warning">
                                            Ooops! on {{ctrl.caloriesDayStr}} you consumed {{ctrl.calories}} calories,
                                            {{ctrl.calories - ctrl.user.calories_goal}} above your goal
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
